/backups/
/coremods/
/crash-reports/
/downloads/
/ESM/
/fancymenu_data/
/fancymenu_instance_data/
/fancymenu_setups/
/journeymap/
/local/
/logs/
/modernfix/
/mods/
/patchouli_books/
/profileImage/
/resourcepacks/
/saves/
/schematics/
/screenshots/
/server-resource-packs/
/shaderpacks/
/texturepacks/
/.curseclient
/icon.png
/knownkeys.txt
/minecraftinstance.json
/observable_announce
/options.txt
/paragliderSettings.nbt
/patchouli_data.json
/realms_persistence.json
/rhino.local.properties
/servers.dat
/servers.dat_old
/usercache.json
/usernamecache.json