/backups/
/config/jei/world/
/config/awesomedungeon_1.properties
/config/awesomedungeonend_1.properties
/config/awesomedungeonnether_1.properties
/config/awesomedungeonocean_1.properties
/config/bettervillage_1.properties
/config/libraryferret_1.properties
/config/jei/*/bookmarks.ini
/config/sound_physics_remastered/allowed_sounds.properties
/config/sound_physics_remastered/occlusion.properties
/config/sound_physics_remastered/reflectivity.properties
/coremods/
/crash-reports/
/downloads/
/ESM/
/fancymenu_data/
/fancymenu_instance_data/
/fancymenu_setups/
/journeymap/
/local/
/logs/
/modernfix/
/mods/
/patchouli_books/
/profileImage/
/resourcepacks/
/saves/
/schematics/
/screenshots/
/server-resource-packs/
/shaderpacks/
/texturepacks/
.curseclient
icon.png
knownkeys.txt
minecraftinstance.json
observable_announce
options.txt
paragliderSettings.nbt
patchouli_data.json
realms_persistence.json
rhino.local.properties
servers.dat
servers.dat_old
usercache.json
usernamecache.json